.spinner {
    border: 3px solid #8C0000;
    border-top-color: #213547;
    border-radius: 50%;
    animation: spin 0.7s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}