.request-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 40px;
}

.request-box input {
    width: 400px;
}

.request-box .custom-button {
    margin-bottom: 0;
}

.response {
    display: flex;
    flex-flow: column;
    padding-top: inherit;
}

.wait {
    display: flex;
    align-items: baseline;
}

.dots {
    font-size: 1.8rem;

    &::after {
        content: "";
        display: inline-block;
        animation: dots 1.5s steps(4, end) infinite;
        margin-left: 4px;
        width: 20px;
    }
}

@keyframes dots {
    0%   { content: ""; }
    25%  { content: "."; }
    50%  { content: ".."; }
    75%  { content: "..."; }
    100% { content: ""; }
}