$image-width: 400px;
$image-height: 300px;
$spaces: 70px;

.recipe-image {
    width: $image-width;
    height: $image-height;
    display: flex;
    place-items: center;
    justify-content: center;
    border: 1px solid burlywood;
}

.info {
    max-width: calc(100% - $image-width - $spaces);
}

.actions {
    width: 50px;
    margin-right: 10px;
    height: $image-height;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}