.counter-box {
    border: #ff9746 2px solid;
    border-radius: 8px;
    background-color: white;
    text-align: center;
    width: 20%;
    padding-top: 10px;
    font-size: 1.2rem;

    a:hover {
        color: #ac2525;
        text-shadow: 1px 1px gainsboro;
    }

    .count {
        font-size: 1.5rem;
        background-color: rgba(253, 185, 136, 0.58);
        color: rgb(172, 37, 37);
        font-weight: bold;
        padding: 5px;
    }
}

.title-link {
    padding: 8px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;


    a {
        text-decoration: none;
        font-weight: 600;
    }
}