.favorites.p-component {
    border-radius: 8px;
    box-shadow: rgba(188, 143, 143) 5px 5px 5px;
    border: 1px solid rgba(188, 143, 143);

    .name {
        max-width: 250px;
        font-weight: bold;
        border-right: 1px solid rgba(188, 143, 143);
    }

    th {
        background-color: rgba(253, 185, 136, 0.58);
        border: 1px solid rgba(188, 143, 143);

        &:first-child {
            border-top-left-radius: 8px;
        }

        &:last-child {
            border-top-right-radius: 8px;
        }

        border-bottom: 2px solid rgb(188, 143, 143);
        padding: 14px 8px;
        width: 800px;
    }
}

td {
    padding: 5px 8px;
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.clickable {
    cursor: pointer;
    font-size: 1.1rem;

    &:hover:not(td),
    &:hover:not(.icon-button) {
        background-color: rgba(188, 143, 143, .3);
    }
}

.widest {
    max-width: 390px;
}

.medium {
    max-width: 130px;
}

.narrowest {
    max-width: 100px;
}

.icon-button.disabled {
    opacity: 0.5;
}