$image-width: 400px;
$image-height: 300px;
$spaces: 70px;
$actions-width: 50px;

.recipe-image {
  width: $image-width;
  height: $image-height;
  display: flex;
  place-items: center;
  justify-content: center;
  border: 1px solid burlywood;
}

.new-info {
  width: calc(100% - $image-width - $spaces);
}

.selections {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.selection {
  width: 47%;
}

h4 {
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 8px;

  &.required::after {
    content: " *";
    color: red;
  }
}

.custom-button {
  height: 48px;
  width: 210px;
  margin-top: 15px;
  margin-bottom: 15px;
  text-transform: uppercase;
  background-color: #fbe2cf;
  border-radius: 5px;
  font-weight: bold;
  border: 2px solid rgb(253, 185, 136);
  box-shadow: gray 3px 2px 3px;
}

.upload {
  margin-top: 10px;
  margin-bottom: 30px;

  input {
    max-width: 170px;
    padding: 0;
    margin-top: 6px;
    background-color: transparent;
    margin-right: 16px;
  }

  h4 {
    margin-bottom: 0;
  }

  .icon-button {
    margin-left: 14px;
    top: 6px;
    position: relative;

    &:hover {
      background-color: #fbe2cf;
    }
  }
}

.recipe-name-input {
  width: calc(100% - 16px);
}

.ingredients-list {
  border: 1px solid burlywood;
  border-radius: 3px;
  box-shadow: gray 3px 2px 3px;
  padding: 10px;
  margin-bottom: 20px;

  &.empty {
    border-left: 3px solid #f10e11;
  }
}

.empty {
  text-align: center;
  color: gray;
  font-size: 1.3rem;
}

.list {
  margin: 0;
  padding: 0 10px;

  li {
    width: 100%;
    display: flex;
    gap: 20px;
    place-items: center;
    color: black;

    .list-item {
      width: 90%;
      text-align: left;
    }
  }
}

input[type="file"] {
  color: transparent;

  &::file-selector-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
      background-color: #45a049;
    }
  }
}

select.placeholder {
  color: gray;
}

option,
select:not(.placeholder) {
  color: black;
}

.error {
  color: #f10e11;
  font-weight: 600;
}

.item-right {
  text-align: right;
}