.card-box {
    width: 575px;
    height: fit-content;
    overflow: scroll;
    text-align: center;
    padding-bottom: 16px;
    border-radius: 8px;
    box-shadow: rgba(188, 143, 143) 5px 5px 5px;
    background-color: white;
    font-size: 1.2rem;
    border: 4px solid white;
    transition: border 0.25s ease, box-shadow 0.25s ease;

    h4 {
        margin-bottom: 0;
    }

    &.active {
        border: 3px solid #4caf50;
        box-shadow: 0 0 8px rgba(76, 175, 80, 0.4);
    }
}

.card-header {
    width: 555px;
    display: flex;
    padding: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 1px solid #ff9746;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    background-color: #FED6BA;

    .buttons {
        display: flex;
        gap: 20px;
    }

    input {
        margin: 0;
        padding: 0;
    }

    &.header-active {
        background-color: rgba(76, 175, 80, 0.1);
    }
}

.card-body {
    padding: 70px 10px 10px;

    .icon-button {
        height: 32px;
        width: 32px;
        padding: 0 0 4px;
        color: #8C0000;
    }

    .list {
        place-items: center;
        padding: 0;
    }

    .list-item {
        width: inherit;
        height: 36px;
        display: flex;
        align-items: center;
        font-style: italic;
        font-size: 1.15rem;
        padding-left: 20px;
        border-bottom: 1px dotted;
        text-align: left;

        a:not(:hover) {
            color: black;
        }

        .left {
            width: 95%;
        }

        .right {
            text-align: center;
            border-left: 1px double #ff9746;
            width: 10%;
        }
    }
}

.products {
    /*position: relative;*/
    /*top: 160px;*/
    /*right: 14%;*/
    margin-left: 30px;
    width: 280px;
    height: inherit;
    overflow-y: auto;
    font-size: 1.1rem;
    font-style: italic;
    border: 1px solid gray;
    border-radius: 8px;
    padding: 20px;
    background: #fae8d7;

    .custom-button {
        position: absolute;
    }

    .recipe-title:first-child {
        width: 240px;
    }
}

.card-body::after,
.products::after {
    content: "";
    position: sticky;
    bottom: -20px;
    left: 0;
    width: 100%;
    height: 80px;
    background: linear-gradient(to bottom, rgba(250, 232, 215, 0), rgba(250, 232, 215, 1));
    pointer-events: none;
    display: block;
    z-index: 10;
}

.close {
    width: 252px;
    text-align: right;
}

.category {
    font-size: 1.1rem;
    font-weight: 700;
    text-align: left;
    margin: 10px 8px 8px;
}
