.card-box {
    height: fit-content;
    width: 500px;
    overflow-y: auto;
    text-align: center;
    padding-bottom: 16px;
    border-radius: 8px;
    box-shadow: rgba(188, 143, 143) 5px 5px 5px;
    background-color: white;
    font-size: 1.2rem;
    border: 4px solid white;
    transition: border 0.25s ease, box-shadow 0.25s ease;

    h4 {
        margin-bottom: 0;
    }

    &.active {
        border: 3px solid #4caf50;
        box-shadow: 0 0 8px rgba(76, 175, 80, 0.4);
    }
}

.card-header {
    display: flex;
    padding: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 1px solid #ff9746;
    justify-content: space-between;
    align-items: center;
    background-color: #FED6BA;

    input {
        margin: 0;
        padding: 0;
    }

    &.header-active {
        background-color: rgba(76, 175, 80, 0.1);
    }
}

.card-body {
    padding: 10px;

    .icon-button {
        height: 32px;
        width: 32px;
        padding: 0 0 4px;
        color: #8C0000;
    }

    .list {
        padding: 0;
    }

    .list-item {
        width: inherit;
        height: 36px;
        display: flex;
        align-items: center;
        font-style: italic;
        font-size: 1.15rem;
        padding-left: 20px;
        border-bottom: 1px dotted;
        text-align: left;

        a:not(:hover) {
            color: black;
        }

        .left {
            width: 95%;
        }

        .right {
            text-align: center;
            border-left: 1px double #ff9746;
            width: 10%;
        }
    }
}

.category {
    font-size: 1.1rem;
    font-weight: 700;
    text-align: left;
    margin: 10px 8px 8px;
}
