#root {
  width: 1000px;
  height: 100%;
  margin: 0 auto;
  font-size: 1.1rem;

  .tooltip {
    border: 1px solid #213547;
    border-radius: 4px;
    background-color: white;
    color: #1e1e1e;
    font-size: 1rem;
    padding: 0 4px 2px;
  }
}

.truncated {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.container {
  width: 100%;
  min-height: calc(100vh - 160px);
  padding: 20px;
  border: #213547 1px solid;
  background-color: #fae8d7;
}

.display-flex {
  display: flex;
  justify-content: space-between;
}

.info-box {
   padding: 10px 0;
}

.section-title {
  font-weight: bold;
  text-decoration: underline;
}

input,
select,
textarea {
  border-width: thin;
  border-radius: 3px;
  font-size: 1.1rem;
  margin-bottom: 20px;
  padding: 10px 8px;
  background-color: floralwhite;
}

.page-title {
  font-size: 2.3rem;
  font-family: "Harlow Solid Italic", monospace;
  font-weight: 900;
  margin: 5px 0 10px;
}

.full-width {
  width: 100%;
}

.half-width {
  width: 50%;
}

.section {
  display: flex;
  gap: 40px;
  width: calc(100% - 8px);

  .more {
    width: 60%;
  }

  .less {
    width: 35%;
  }
}

.with-quantity {
  margin-left: -14px;
  display: flex;
  gap: 40px;
}

.quantity {
  width: 80px;
}

input:required,
select:required,
input:required:invalid,
select:required:invalid {
  border-left: 3px solid #ff4d4f;
}

input:required:valid,
select:required:valid {
  border-left: 1px solid gray;
}

.icon-button {
  width: 40px;
  height: 40px;
  color: #ac2525;
  padding: 4px 0 0;
  border-radius: 25px;
  background: transparent;
  border: 2px solid transparent;

  .delete {
    filter: invert(15%) sepia(95%) saturate(5000%) hue-rotate(350deg) brightness(85%) contrast(90%);
  }

  &:hover {
    border-color: #ac2525;
    background-color: rgba(253, 185, 136, 0.58);
    box-shadow: gray 4px 2px 3px;
  }
}

.list .action-button,
table .action-button {
  width: 40px;
  height: 40px;
  border-color: transparent;
  font-weight: bold;
  font-size: 1.1rem;
}

.action-button {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background-color: #fbe2cf;
  display: flex;
  place-content: center;
  border: 2px solid rgb(253, 185, 136);
  box-shadow: gray 4px 2px 3px;
}

.add-button,
.custom-button,
.action-button {
  &:disabled {
    opacity: .5;
    cursor: not-allowed;
  }

  &:hover,
  &:disabled:hover {
    background-color: rgba(253, 185, 136, 0.58);
    border-color: #ac2525;
  }
}

.custom-tooltip {
  border: 1px solid #213547;
  border-radius: 4px;
  background-color: white;
  color: #1e1e1e;
  font-size: 1rem;
  padding: 0 4px;
}

.sources {
  padding: 30px;
  width: max-content;
  margin-top: 20px;
  display: flex;
  flex-flow: column;
  font-size: 1.1rem;
}

.note {
  width: 100%;
  text-align: center;
  font-style: italic;
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 20px;
}

.process {
  color: #bd2929;
}
