.small-card {
    width: 300px;
    height: 280px;
    border: #ff9746 2px solid;
    border-radius: 15px;
    box-shadow: rgba(188, 143, 143) 5px 5px 5px;
    text-align: center;
    background-color: rgba(253, 185, 136, 0.58);

    a {
        color: #242424;
        text-decoration: none;
    }

    &:hover {
        border-color: #ac2525;
        background-color: rgb(253, 185, 136);
    }

    .card-image {
        height: 200px;
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
        background-color: white;

        img {
            object-fit: cover;
        }
    }

    .custom-image {
        border-top-right-radius: 13px;
        border-top-left-radius: 13px;
    }

    .recipe-name {
        font-weight: bold;
        font-size: 1.13rem;
        text-align: center;
        padding: 8px 10px;
    }

    .ingredients {
        padding: 0 10px;
    }

    .favorite-icon {
        height: 36px;
        width: 36px;
        border-radius: 25px;
        background-color: white;
        display: flex;
        justify-content: center;
        place-items: center;
        position: absolute;
        margin-top: 3px;
        margin-left: 3px;
    }
}