.p-dialog {
    background-color: white;
    width: 550px;
    border-radius: 8px;

    .custom-button {
        width: 280px;
        margin-top: 0;
    }
}

.p-dialog-content {
    background-color: white;
    padding: 10px 30px 10px;
    border-radius: 8px;
}

.p-dialog-header {
    background-color: #d0bebe;
    border-bottom: 1px solid #213547;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    font-weight: 600;
    font-size: 1.2rem;
    padding: 20px 30px;
}

.new-plan {
    margin-top: 10px;
}
