.content {
    width: 100%;
    display: flex;
    gap: 30px;
}

.plan-cards {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    flex-flow: row wrap;
}

.plan-products {
    width: inherit;
    padding: 20px;
    border: 1px solid gray;
    border-radius: 8px;
    background: #fae8d7;
    max-height: 90vh;
    overflow-y: auto;
    box-shadow: inset 0 2px 8px rgba(188, 143, 143);

    &::after {
        content: "";
        position: sticky;
        left: 0;
        width: 100%;
        pointer-events: none;
        display: block;
        z-index: 10;
        bottom: -20px;
        height: 130px;
        background: linear-gradient(to bottom, rgba(250, 232, 215, 0), rgba(250, 232, 215, 1));
    }
}

.plan {
    display: flex;
    gap: 18px;
    align-items: start;

    .plan-selection {
        cursor: pointer;
        padding: 2px;
        height: 36px;
        width: 38px;
        display: flex;
        justify-content: center;
        border-color: #ac2525;
        place-items: center;
        margin-top: 6px;

        &:hover {
            border-width: 2px;
        }

        &.selected {
            border: none;
            background: unset;

            &:hover {
                border-color: transparent;
                cursor: unset;
            }
        }
    }

    .circle {
        width: 16px;
        height: 16px;
        border: 2px solid #ccc;
        border-radius: 50%;

        &:hover {
            border-color: green;
        }
    }
}

.notice {
    margin: 50px 22px;
    line-height: 2.8;
    text-align: center;
    font-style: italic;
}