.plan-cards {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    place-items: center;
    flex-flow: row wrap;
}

.plan {
    display: flex;
    gap: 10px;
    align-items: start;

    .plan-selection {
        cursor: pointer;
        padding: 2px;
        height: 44px;
        width: 46px;
        display: flex;
        justify-content: center;
        border-color: #ac2525;
        place-items: center;

        &:hover {
            border-width: 2px;
        }

        &.selected {
            border: none;
            background: unset;

            &:hover {
                border-color: transparent;
                cursor: unset;
            }
        }
    }

    .custom-button {
        width: 34px;
        height: 30px;
        padding: 0;
        margin: -8px 0;
        font-size: 0.8rem;
        font-weight: bold;
    }

    .circle {
        width: 20px;
        height: 20px;
        border: 2px solid #ccc;
        border-radius: 50%;

        &:hover {
            border-color: green;
        }
    }
}